:root {
  --color0: #180A18;
  --color1: #AD0369;
  --color2: #CB0179;
  --color3: #A24553;
  --color4: #6F7EA6;
  --color5: #DE0386;
  --color6: #B7489C;
  --color7: #1DB0E4;
  --color8: #666666;
  --color9: #AD0369;
  --color10: #CB0179;
  --color11: #A24553;
  --color12: #6F7EA6;
  --color13: #DE0386;
  --color14: #B7489C;
  --color15: #1DB0E4;
}
